*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;        
    scroll-behavior: smooth;
}

body {
    line-height: 1.7;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    width: 50%;
    height: auto;
}

nav:nth-child(2){
    font-family: Arial, Helvetica, sans-serif;
}